
      <div class="jumbotron bg-secondary text-white text-center">
        <h1 class="display-4"><%= friend.fastname %> <%= friend.lastname %></h1>
        <p class="lead">Email: <%= friend.email %></p>
        <p class="lead">Phone: <%= friend.phone %></p>
        <p class="lead">Twitter: <%= friend.twitter %></p>
        <hr class="my-4">
      </div>
  
